<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <div>
          <h3>Funding by:</h3>
          <div class="footer-list-logo">
            <img src="{{ "/assets/images/jata-negara-logo.svg" | relative_url }}"  alt="logo" class="footer-logo"/>
            <img src="{{ "/assets/images/TERAJU-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
          </div>
        </div>
        <div>
          <h3>Implementing Agency :</h3>
          <div class="footer-list-logo">
            <img src="{{ "/assets/images/usm-logo.svg" | relative_url }}"  alt="logo" class="footer-logo"/>
          </div>
        </div>
        <div>
          <h3>Partnership :</h3>
          <div class="footer-list-logo">
            <img src="{{ "/assets/images/kkm-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
            <img src="{{ "/assets/images/KPDN-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
            <img src="{{ "/assets/images/Fama-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
            <img src="{{ "/assets/images/jabatan-pertanian-sarawak-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
            <img src="{{ "/assets/images/jakim-logo.png" | relative_url }}"  alt="logo" class="footer-logo"/>
        </div>
      </div>
    </div>

  </div>

</footer>
